/* @ import url(https://fonts.googleapis.com/css?family=Nunito); */


/*
	Estilos de menu aside del la pagina home, cuando usuario está logueado
*/

body{
	overflow-x: hidden;
  font-family: "Ubuntu","Glory","Nunito"!important;
}

body table{
	font-size: 0.85rem;
}

/*$custom-file-text: (
	en: "Browse",
	es: "Elegir"
);*/

/*  Inputs datapicker */	
.datepicker{
	/*max-width: 100px;*/
}


/* #Login# */

.bj-login .card-header{
	background-color: rgba(0,0,0,0.8);
	color: $white;
	font-weight: bold;
}

.bj-login .card-body{
	background-color: rgba(0,0,0,0.5);
	color: $white;
	font-weight: bold;
}

.bj-login .card-body input{
	
	outline: none;
	border: none;
	transition: all 0.2s;
}




/* #Login# */


/*  Menu header */

header{
	height: 100px;
	display: flex;
	justify-content: center;
	z-index: 10;
}

.bj-nav{
	padding: 0;
	height: 100%;
}

.bj-header-menu{
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: transparent;
}

.bj-header-menu > li{
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.bj-header-menu > li > a{
	text-decoration: none;
	font-size: 12px;
	color: #627700;
	display: block;
	height: 100%;
	width: 100%;
	padding: 10px;
	line-height: 100px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.bj-header-menu > li > a:hover{
	background-color: rgba(164,176,104,0.3);
	color: $black;
}

/*.bj-header-menu > li > a:hover{
	background: #ff5500;
	color: $white;
}*/

.bj-header-menu li ul{
	display: none;
	position: absolute;
	z-index: 11;
	font-size: 12px;
	padding: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.bj-header-menu li ul li{
	background-color: $white;
	list-style: none;
	margin: 0;
}

.bj-header-menu li ul li a{
	text-decoration: none;
	color: $black;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 10px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.bj-header-menu li ul li a:hover{
	background: rgba(253,135,1,0.3);
}


.bj-header-menu li:hover ul{
	display: flex;
	flex-flow: column;
	z-index: 11;
}

/* # Menu header # */

/* Profile */

.profile{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.profile *{
	margin: 5px;
}

.bj-user, .bj-icon-logout{
	font-size: 30px;
	color: $white;
	font-weight: bolder;
}

.bj-icon-logout{
	margin-bottom: 30px;
	margin-left: 10px;
}

.bj-link-user{
	text-decoration: none;
	color: $white;
	font-size: 12px;
	font-weight: bold;
}
.bj-link-user:hover{
	color: $white;
	text-decoration: none;
}

.profile{
	height: 100%;
	box-sizing: border-box;
	border: 50px;
	position: relative;
	z-index: 11;
}

.bg-profile{
	position: absolute;
	top: -200px;
	right: -120px;
	z-index: 9;
}

.bj-profile{
	min-width: 80%;
	position: absolute;
	top: 20px;
	z-index: 10;
	background-color: rgba(0,0,0,0.2);
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

}

/* # Responsive profile # */
	@media (max-width: 600px) {
	  	img.bg-profile {
	    	display: none;
	  	}
	  	a.bj-link-user{
	  		display: none;
	  	}
	}
/* # Responsive profile # */

table{
  border-collapse: collapse!important;
  > thead{
    background-color: rgba($blue, .5) ;
    color: $white;
    th:first-child{
      border-top-left-radius: 20px;
    }
    th:last-child{
      border-top-right-radius: 20px;
    }
  }
  > tbody{
    td{
      border: .2px solid #dee2e6;
      vertical-align: middle!important;
    }
  }
} 



/* # Profile # */

.bj-nav{
	background-color: $white;
	font-weight: bold;
}

.img-opensoft{
	width: 70px;
	height: auto;
}

.javapri{
	font-weight: bolder;
	font-size: 14px;
	color: $black;
}

.tm{
	color: $black;
	font-size: 15px;
	font-weight: bold;
}

.bj-logo{
	color: $white;
}

.kinsmall{
	font-weight: bolder;
	font-size: 15px;
	color: $black;
}
.sofsmall{
	font-weight: bolder;
	font-size: 15px;
	color: #ff5500;
}

.eslogan{
	color: $black;
	font-size: 14px;
}

.bj-logo{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
}

/*HOME*/

.bj-home{
	min-height: 80vh;
	overflow: hidden;
}

.bj-home-header{
	background: linear-gradient(#0086f9, $white);
}

.bj-home-header h3{
	color: $white;
	font-size: 20px;
	font-weight: bolder;
}

/* Columna izquierda del modulo base de datos */
.bj-flex{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(98,119,0,0.8);
}

.bj-flex li{
	width: 100%;
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
}

.bj-flex li:hover{
	background-color: rgba(98,119,0,1);
}

.bj-flex li a{
	display: inline-block;
	width: 100%;
	color: $white;
	position: relative;
	border: solid;
}

.bj-divider{
	border: none;
	background-color: #85c4f9;
}

.bj-submenu{
	display:flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	display: none;
}

.bj-menu-link:hover .bj-submenu{
	display: flex;
}

.bj-btn-table-edit, .bj-btn-table-delete, .bj-btn-table-add, .bj-btn-table-pdf{
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	color: $orange;
	font-weight: bold;
	border-radius: 20px;
	line-height: 30px;
	text-align: center;
	transition: all 0.5s;
	cursor: pointer;
	text-decoration: none;
}

.bj-btn-table-edit{
	border: 2px solid $blue;
	color: $blue;
  text-decoration: none;
}

.bj-btn-table-delete{
	border: 2px solid $orange;
	color: $orange;
	text-decoration: none;
}

.bj-btn-table-add{
	border: 2px solid $green;
	color: $green;
	text-decoration: none;
}

.bj-btn-table-pdf{
	border: 2px solid $pdf;
	color: $pdf;
	text-decoration: none;
}

.bj-btn-table-edit:hover{
	background-color: $blue;
	color: $white;
}

.bj-btn-table-delete:hover{
	background-color: $orange;
	color: $white;
}

.bj-btn-table-add:hover{
	background-color: $green;
	color: $white;
}

.bj-btn-table-pdf:hover{
	background-color: $pdf;
	color: $white;
}

.bj-btn-table-edit:active, .bj-btn-table-delete:active, .bj-btn-table-add:active{
	box-shadow: inset 0 0 20px $black;
}

.bj-scroll{
	overflow-x: scroll;
}


.letter{
	height: auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}


.letter p{
	font-family: 12px Glory;
}

.letter input, .letter textarea{
	background: rgba(199,199,199,0.5);
	outline: none;
	border: none;
	box-sizing: border-box;
}

.letter textarea{
	width: 100%;
	text-align: justify;
}

.letter input:hover, .letter textarea:hover{
	border-bottom: 1px solid #ccc;
	background: transparent;
}

.letter input:focus, .letter textarea:focus{
	border-bottom: 1px solid #ccc;
	background: transparent;
}

.squater {
      border-radius: 40px;
      border: 1px solid #6481FF;
    }

    small {
      font-weight: bold;
    }

    small.text-muted {
      text-align: right;
      margin-right: 3px;
    }

    #photoSelected {
      opacity: 0;
    }

    .sectionPhoto {
      cursor: pointer;
    }

    .sectionPhoto:hover {
      background: rgba(0, 0, 0, 0.1);
      color: white;
    }